body{

    margin: 0dvh;

}

.nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(44, 54, 63);
    margin-top: 0dvw;
    height: 7dvh;

}

.title{

    margin: 0dvh;
    padding-left: 1dvw;
    color: white;

}