body{

    margin: 0dvh;
    background-color:  rgb(187, 199, 164);

}

.nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(44, 54, 63);
    margin-top: 0dvw;
    height: 7dvh;

}

.title{
    
    margin: 0dvh;
    padding-left: 1dvw;
    color: white;

}

.menubut{

    align-self: flex-start;
    padding: 1dvw;

}

.inpform{

    background-image: url(imgs/Backround.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70dvh;
    margin-top: 0%;
    background-position: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

}

.inplable{

    background-color: hwb(0 0% 100% / 0.664);
    border: 2px solid black;
    padding: 0.5dvh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 5dvw;
    text-align: center;

}

.inpbox{

    background-color:  hwb(0 0% 100% / 0.664);
    border: 2px solid black;
    padding: 0.5dvh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;

}

.frm{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.inprow{

    margin-left: 1dvw;
    margin-right: 1dvw;

}

.inputs{

    display: flex;
    flex-direction: row;

}

.inpbut{

    margin-top: 2dvh;
    background-color: black;
    color: white;
    width: 10dvw;
    border: 2px solid black;
    padding: 0.5dvh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

.inpbut:hover{

    background-color:  hwb(0 0% 100% / 0.664);

}

.content{

    height: max-content;

}

.inptitle{

    margin: 0;
    color: rgb(0, 0, 0);
    font-size: xx-large;

}

.inp{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.content{

    display: flex;
    flex-direction: column;
    align-items: center;

}


.certextmainmain{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.cert{

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 1100px;
    height: 850px;
    padding: 0%;
    background-image: url(imgs/gen.certificate.png);
    background-position: center;
    background-size: cover;
    font-size: 700%;

}

.certext2{

    font-size: 80%;

}

.certext3{

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60dvw;
    
    font-size: 60%;
    margin: 2dvh;

}

.certext4, .certext5{

    font-size: 40%;

}

.certextmaindos{

    margin: 0%;

}

.devimg{

    max-width: 100%;
    max-height: 100%;

}

.printbut{

    color: white;
    width: 10dvw;
    border: 2px solid black;
    padding: 0.5dvh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color:  hwb(0 0% 100% / 0.664);

    display: flex;
    flex-direction: column;
    align-items: center;

}

.printbut:hover{

    background-color:  hwb(0 0% 100% / 0.808);

}
.botrow{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30dvw;
    margin-top: 25dvh;

}

.printbut{

    display: flex;
    margin-bottom: 4dvw;
    margin-top: 4dvw;

}

footer{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(242, 245, 234);
    font-size: small;

}

.gitlogo{
    
    align-self: flex-end;

}

@media print {

    body{

        background-color: white;

    }

    .inpform{

        display: none;

    }

    footer{

        display: none;

    }

    .nav{

        display: none;

    }

    .contentitle{

        display: none;

    }

    .printbut{

        display: none;

    }

    .cert{   

        height: fit-content;
        
    }

    .botrow{

        padding-bottom: 23dvh;
        display: flex;
        justify-content: space-between;
        width: 30dvw;
        margin-top: 2dvh;
        margin-bottom: 0dvh;

    }

    .certextmainmain{

        display: flex;
        flex-direction: column;
        align-items: center;

    }

}