body{

    margin: 0dvh;
    background-color:  rgb(187, 199, 164);

}

.nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(44, 54, 63);
    margin-top: 0dvw;
    height: 7dvh;

}

.title{
    
    margin: 0dvh;
    padding-left: 1dvw;
    color: white;

}

.menubut{

    align-self: flex-start;
    padding: 1dvw;

}

.inpform{

    background-image: url(imgs/Backround.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70dvh;
    margin-top: 0%;
    background-position: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

}

.frm{

    display: flex;

}

.inprow{

    margin-left: 1dvw;
    margin-right: 1dvw;

}

.content{

    height: 70dvh;

}

.inptitle{

    margin: 0;
    color: rgb(0, 0, 0);
    font-size: xx-large;

}

.inp{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.content{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.printbut{

    display: flex;
    margin-bottom: 1dvw;

}

.certif{

    width: 11in;
    height: 8.5in;
    background-image: url(imgs/certimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7.5dvw;

}

.nameandcode{

    display: flex;
    flex-direction: row;

}

.datandname{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25dvw;
    margin-top: 6dvw;

}

.nametext{

    margin-top: 2dvw;

}

footer{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(242, 245, 234);
    font-size: small;

}

.gitlogo{
    
    align-self: flex-end;

}